body {
    font-family: "Open Sans";
    font-size: 20px;
    margin: 0;
    text-align: center;
}


footer {
    background-color: #EEF2E6;
    bottom: 0;
    font-size: 15px;
    padding: 45px 0 25px;
    position: relative;
    width: 100%;
}

form {
    background-color: #EEF2E6;
    border-radius: 5%;
    padding: 25px 20px;
}

h1 {
    background: white;
    font-weight: 700;
}

table {
    background: white;
    margin: 20px 20px;
    width: 50%
}

th, td {
    padding: 10px 20px;
}

.background {
    background-image: url("https://images.unsplash.com/photo-1685531964968-1f29ea91fa58?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 25em;
    height: 100%;
    padding: 50px 0px 50px;
}

.btn {
    background-color: #1C6758;
    border-color: #1C6758;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.btn:hover {
    background-color: #3D8361;
    border-color: #3D8361;
    color: white;
}

.copyright {
    margin-bottom: 0px;
}

.dropdown-menu {
    background-color: #EEF2E6;
}

.fa-circle {
    color: #3D8361;
}

.form-control {
    font-size: 15px;
}

.icon-text {
   bottom: 0;
   color:#aaa;
   font-family:verdana;
   font-size:11px;
}

.logo {
    width: 5%;
}

.navbar {
    background-color: #EEF2E6;
    margin-bottom: 0px;
}

.nav-link {
    color: black;
    float: left;
    font-size: 16px;
    margin-left: 20px;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
}

.navbar a {
    color: black;
    text-decoration: none;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #D6CDA4;
}

.navbar .brand {
    color: black;
    font-size: 30px;
    font-weight: 600;
    margin-left: 0px;
    padding-left: 0px;
}

.dropdown-item {
    margin-left: 0px;
}

.sub-text {
   bottom: 0;
   color:white;
   font-family:verdana;
   font-size:11px;
   margin-top: 100px;
}

.sub-text a {
    color: white;
    text-decoration: underline;
}

#name {
    padding: 20px 0px;
}