<!--CODE FOR THE DEFAULT FOOTER, ADDED TO EVERY HTML FILE-->
<!--closes div that contains the background image-->
</div>
  <footer>
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 text-center">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/lauraporsch/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/lauraporsch" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; Laura Porsch 2023</p>
          <p class="icon-text">
            <a href="https://www.flaticon.com/free-icons/dinosaur" title="dinosaur icons">Dinosaur icons created by Darius Dan - Flaticon</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
