<!--HOMEPAGE SHOWS DASHBOARD WITH ALL TODOS IN THE DB-->
{% include "header.html" %}
<h1> To Dos </h1>
<div class="container-fluid">
    <div class="row justify-content-center">
    <table>
        <tbody>
            <tr>
                <th>To Do</th>
                <th>Category</th>
                <th>Due Date</th>
            </tr>
            {% for to_do in all_to_dos %}
            <tr>
                <td><a href="{{ url_for('show_to_do', to_do_id=to_do.id) }}">{{ to_do.name }}</a></td>
                <td><a href="{{ url_for('show_category', category=to_do.parent_category) }}" >{{ to_do.parent_category }}</a></td>
                <td>{{ to_do.due_date }}</td>
                <td><a href="{{ url_for('mark_done', to_do_id=to_do.id) }}">✅</a></td>
                <td><a href="{{ url_for('delete', to_do_id=to_do.id) }}">❌</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="row">
    <div class="col-lg-6 col-md-6 mx-auto text-center">
        <a class="btn btn-primary" href="{{ url_for('add_new_category') }}">New Category</a>
    </div>
    <div class="col-lg-6 col-md-6 mx-auto text-center">
        <a class="btn btn-primary" href="{{ url_for('add_new_to_do') }}">New To Do</a>
    </div>
    </div>
</div>

{% include "attribution.html" %}
{% include "footer.html" %}