<!--SHOW ALL INFORMATION ABOUT THE REQUESTED TO DO-->
{% include "header.html" %}

  <div class="container-fluid">
    <div class="row justify-content-center">
    <table>
        <tbody>
            <tr>
                <th>{{to_do.name}}</th>
                <th>{{ to_do.parent_category }}</th>
                <th>{{ to_do.due_date }}</th>
                <th><a href="{{ url_for('mark_done', to_do_id=to_do.id) }}">✅</a></th>
                <th><a href="{{ url_for('delete', to_do_id=to_do.id) }}">❌</a></th>
            </tr>
            {% for subtask in to_do.subtasks %}
            <tr>
                <td>{{ subtask.name }}</td>
                <td>{{ subtask.category }}</td>
                <td>{{ subtask.due_date }}</td>
                <td><a href="{{ url_for('mark_done_sub', subtask_id=subtask.id) }}">✅</a></td>
                <td><a href="{{ url_for('delete_sub', subtask_id=subtask.id) }}">❌</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <div class="col-lg-6 col-md-6 mx-auto text-center">
        <a class="btn btn-primary" href="{{ url_for('add_new_subtask', to_do_id=to_do.id) }}">New Subtask</a>
    </div>
  </div>

{% include "attribution.html" %}
{% include "footer.html" %}
